<div class="main-content-inner">
	<div class="breadcrumbs ace-save-state" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">홈</a>
			</li>

			<li>
				<a href="#">환경설정</a>
			</li>
			<li class="active">ISA Agent 설정</li>
		</ul><!-- /.breadcrumb -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				ISA Agent 설정
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					ISA Agent 기본 정보를 등록합니다.
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<form id="fassign" method="post" action="/assign/post" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_assign_number"> 계약번호 </label>

                        <div class="col-sm-9">
                            <input type="text" name="assign_number" id="txt_assign_number" placeholder="계약번호" class="col-xs-10 col-sm-5" />
                            <div class="col-sm-3">
                                <button id="btn_check_assign" type="button" class="btn btn-danger col-xs-10 col-sm-10 no-padding">
                                    <i class="ace-icon fa fa-check bigger-110"></i> 확인하기
                                </button>
                            </div>
                        </div>
					</div>
									
					<div class="space-4"></div>
									
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_biz_name"> 업체 이름 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="biz_name" id="txt_biz_name" placeholder="업체 이름" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_user_name"> 사용자 이름 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="user_name" id="txt_user_name" placeholder="사용자 이름" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>
									
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_user_organization"> 소속부서 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="user_organization" id="txt_user_organization" placeholder="소속부서" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_user_contact"> 연락처 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="user_contact" id="txt_user_contact" placeholder="연락처" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_device_name"> 컴퓨터 이름 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="device_name" id="txt_device_name" placeholder="컴퓨터 이름" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_device_ip"> IP 주소 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="device_ip" id="txt_device_ip" placeholder="IP 주소" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_device_mac"> MAC 주소 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="device_mac" id="txt_device_mac" placeholder="MAC 주소" class="col-xs-10 col-sm-5" />
						</div>
					</div>
									
					<div class="space-4"></div>
									
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="txt_device_version"> Windows 버전 </label>

						<div class="col-sm-9">
							<input readonly="readonly" type="text" name="device_version" id="txt_device_version" placeholder="Windows 버전" class="col-xs-10 col-sm-10" />
						</div>
					</div>
									
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								갱신
							</button>
						</div>
					</div>
				</form>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        $.get("/api/device/get", function(res) {
            var $form = $("#fassign");
            var devices = res.Data;
            for(var i in devices) {
                $form.find("input[name='device_ip']").val(devices[i].IP);
                $form.find("input[name='device_mac']").val(devices[i].MAC);
                $form.find("input[name='device_name']").val(devices[i].Name);
                $form.find("input[name='device_version']").val(devices[i].Version);
            }
        }, "json");
    });
</script>
