<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a class="active" href="/">홈</a>
            </li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                홈
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    환영합니다.
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                    <h1>환영합니다.</h1>

                    <p>아래의 서비스 목록을 확인하시어, 원활한 프로그램 이용이 되시기 바랍니다.</p>

                    <ul>
                        <li><a href="/notice">공지사항</a></li>
                        <li><a href="/bundle">소프트웨어 목록</a></li>
                        <li><a href="/license-form">신규 라이센스 등록</a></li>
                        <li><a href="/license">라이센스 관리</a></li>
                    </ul>

                    <p>감사합니다.</p>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>



